<%= form_with(model: menu, local: true) do |form| %>
  <% if menu.errors.any? %>
    <div class="Menu-error">
      <ul>
        <% menu.errors.full_messages.each do |message| %>
          <li> <strong> <%= message %> </strong> </li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="Form-section">
    <%= form.label :menu_name ,class:"FormInput-label" %>
    <%= form.text_field :menu_name , class: "Form-input"%>
  </div>

  <div class="Menu-active">
    <p class="Menu-label"> <%= form.label :active %> <p>
    <%= form.check_box :active , class: "Form-input" %>
  </div>

  <div class="Form-section">
    <%= form.submit nil, class: "Form-submit" %>
  </div>
<% end %>
