<section class="Menu">
  <h4 id="notice"> <%= notice %> </h4>
  
  <h1 class="Menu-title">Menus</h1>

  <p class="Menu-new"> <%= link_to "New Menu", new_menu_path %> </p>

  <table class="Table">
    <thead>
      <tr>
        <th>Menu name</th>
        <th>Active</th>
        <th colspan="3">Options</th>
      </tr>
    </thead>

    <tbody>
      <% @menus.each do |menu| %>
        <tr>
          <td> <%= menu.menu_name %> </td>
          <td> <%= menu.active %> </td>
          <td> <%= link_to "Show", menu_items_path(current_menu_id: menu.id) %> </td>
          <td> <%= link_to "Edit", edit_menu_path(menu) %> </td>
          <td> <%= link_to "Remove", menu, method: :delete, data: { confirm: "Are you sure?" } %> </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

</section>