<section class="Menu-view">
  <h4 id="notice"><%= notice %></h4>

  <p class="Menu-label">
    <strong>Menu name:</strong>
    <%= @menu.menu_name %>
  </p>

  <p class="Menu-label">
    <strong>Active:</strong>
    <%= @menu.active %>
  </p>

  <%= link_to 'Edit', edit_menu_path(@menu) %> |
  <%= link_to 'Back', menus_path %>

</section>