<section class="MenuItem">
  <h5 id="notice"><%= params[:notice] %></h5>

  <p class="Menu-label">
    <strong>Menu:</strong>
    <%= @menu_item.menu.menu_name%>
  </p>

  <p class="Menu-label">
    <strong>Menu item name:</strong>
    <%= @menu_item.menu_item_name %>
  </p>

  <p class="Menu-label">
    <strong>Menu item price:</strong>
    <%= @menu_item.menu_item_price %>
  </p>

  <p class="Menu-label">
    <strong>Stock:</strong>
    <%= @menu_item.stock %>
  </p>

  <%= link_to 'Edit', edit_menu_item_path(@menu_item,:current_menu_id => @current_menu_id) %> |
  <%= link_to 'Back', menu_items_path(:current_menu_id => @current_menu_id) %>
</section>