<%= form_with(model: order, local: true) do |form| %>
  <section class="Form-section">
      <h4> Status <h4> 
          <div class="Order-section">
              <%= radio_button_tag "status", "confirm", !(@status) %>
              <p class="Order-status"> Confirm </p>
          </div>
          <div class="Order-section">
              <%= radio_button_tag "status", "preparing", @status %>
              <p class="Order-status"> Preparing </p>
          </div>
          <div class="Order-section">
              <%= radio_button_tag "status", "delivered" %>
              <p class="Order-status"> Delivered </p>
          </div>
          <div>

          <div class="Order-section">
              <%= submit_tag "Update Order", class: "Order-submit" %>
          </div>
  </section>
<% end %>
