 <section class="Order">
    <h3 id="notice"> <%= params[:notice] %> </h3>
    <% order_title = "Pending Orders" %>
    <% order_title = "Your Orders" if @your_order %>
    <h1 class="Order-title"> <%= order_title %> </h1>

    <p class="OrderNew"> <%= link_to "New Order", new_order_path %> <p>

    <table class="Table">
      <thead>
        <tr>
          <% if not @your_order %>
            <th>Order Id</th>
            <th>User</th>
            <th>Type</th> 
          <% end %>
          <th>Date</th>
          <% if @your_order %>
            <th>Delivered at</th> 
          <% end %>
          <th>Status</th>
          <th colspan="3">Options</th>
        </tr>
      </thead>

      <tbody>
        <% @orders.each do |order| %>
          <tr>
            <% if not @your_order %>
              <td> <%= order.id %> </td>
              <td> <%= order.user.first_name %> </td>
              <td> <%= order.order_type %> </td> 
            <% end %>

            <td> <%= order.date %> </td>
            <% if @your_order %>
              <td> <%= order.delivered_at %> </td> 
            <% end %>

            <td> <%= order.status %> </td>
            <td> <%= link_to "Show", order_items_path(order_id: order.id) %> </td>
            <% if (not(@current_user.is_customer(@current_user.id))) and not @your_order %>
              <td> <%= link_to "Edit", edit_order_path(order) %> </td>
            <% end %>

          </tr>

        <% end %>
      </tbody>
    </table>

    <br>
  
</section>