<%= form_with(model: cart, local: true) do |form| %>
  <% if cart and cart.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(cart.errors.count, "error") %> prohibited this cart from being saved:</h2>

      <ul>
        <% cart.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="Cart-edit">
    <%= form.text_field :user_id %>
  </div>

  <div class="Cart-edit">
    <%= form.text_field :menu_item_id %>
  </div>

  <div class="From-section">
    <%= form.label :quantity ,class:"FormInput-label" %>
    <%= form.number_field :quantity , class:"Form-input", min: 0 , max: cart.menu_item.stock %>
  </div>

  <div class="Cart-edit">
    <%= form.label :menu_id %>
    <%= form.text_field :menu_id %>
  </div>

  <div class="Cart-update">
    <%= form.submit "Update Cart", class: "Form-submit" %>
  </div>
<% end %>
